body {
  margin: 0;
  padding: 0;
}

main {
  align-content: center;
  background-color:  sandybrown;
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.containers {
  display: flex;
  flex-flow: column;
}